{{ $image := "" }}
{{ $alt := "" }}
{{ $layerStyles := "" }}
{{ $sectionMargin := "" }}

{{ $authorData := site.Data.people.authors }}

{{ $byline := slice }}
{{ if .byline }}
  {{ $byline = .byline }}
{{ end }}

{{ $authorList := slice }}
{{ range $authorData }}
  {{ $author := . }}
  {{ range $byline }}
    {{ if eq .ref $author.id }}
      {{ $authorList = $authorList | append $author }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $format := "Jan 2, 2006" }}

<main id="big-search-1" aria-labelledby="big-search-1-label" class="position-relative">  
  <div class="container wvu-z-index-content py-6">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto">
        <h1 id="big-search-1-label" class="display-5 iowan-old-style mb-3">{{ if .topper.heading }}{{ partial "bookshop_partial" (slice "heading" (dict "heading" .topper.heading)) }}{{ else }}{{ .title }}{{ end }}</h1>
        {{ if .topper.subheading }}
          <p class="helvetica-neue-light fs-4 mb-0">{{ .topper.subheading }}</p>
        {{ end }}
        <p class="mt-4 mb-0 iowan-old-style text-uppercase">{{ .publishDate.Format $format }}</p>
        <div class="d-flex mt-4">
          {{ range $authorList }}
            {{ if .image }}
              <div class="ratio ratio-1x1 d-inline-block me-3" style="height: 50px; width: 50px;">
                <img class="rounded-circle object-fit h-100 w-100" src="{{ .image.src }}" alt="{{ .image.alt }}" />
              </div>
            {{ end }}
            
            <div class="d-inline-block h-100 text-start">
              <p class="small">
                <span class="d-block helvetica-neue-bold text-uppercase">{{ .name }}</span>
                <span class="d-block">
                  {{ range .position }}
                    {{ . }}
                  {{ end }}
                </span>
              </p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>