{{ $sectionMargin := "py-6" }}
{{ if .layout.section.margin }}
  {{ $sectionMargin = .layout.section.margin }}
{{ end }}

{{ $panelStyles := "bg-wvu-accent--blue-dark text-white rounded-2" }}
{{ $gridClasses := "col" }}
{{ $itemHeadingStyles := "iowan-old-style h1" }}
{{ if and .styles .styles.panels }}
  {{ $panelStyles = .styles.panels }}
{{ end }}
{{ if and .styles .styles.item_headings }}
  {{ $itemHeadingStyles = .styles.item_headings }}
{{ end }}
<section class="{{ partial "bookshop_partial" (slice "section_margin" $sectionMargin) }} position-relative">
  <!-- 
  <div class="wvu-bg-img">
    <div class="position-absolute w-50 h-100 d-flex justify-content-start align-items-end" style="left: 50%">
      <div class="h-100 position-absolute" style="content: ''; transform: skew(340deg); left: 0; width: 200% !important; background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);"></div>
    </div>
  </div>
  -->
  <div class="container position-relative {{ .layout.margin_y }}">
    {{ if .heading }}
      <div class="row text-center mb-5">
        <div class="col-xl-12 mx-xl-auto">
          <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-accent--blue-dark">{{ .heading }}</h2>
          {{ with .lead }}
            <p class="lead text-wvu-accent--blue-dark">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    {{ end }}
    
    <div class="row gx-4 text-center">
      {{ range .items }}
        {{ $pageTitle := "" }}
        {{ $description := "" }}
        {{ $url := "" }}
        
        {{ if .title }}
          {{ $pageTitle = .title }}
        {{ end }}
        {{ if .text }}
          {{ $description = .text }}
        {{ end }}

        {{ if .site_page }}
          {{ range site.Data.site_pages }}
            {{ if eq $pageTitle .title }}
              {{ $pageTitle = .title }}
              {{ $description = .description }}
              {{ $url = .path }}
            {{ end }}
          {{ end }}
        {{ else if .url }}
          {{ $url = .url }}
        {{ end }}

        <div class="{{ $gridClasses }}">
          <div class="position-relative px-5 py-6 h-100 {{ $panelStyles }}">
            <h3 class="{{ $itemHeadingStyles }}">{{ $pageTitle }}</h3>
            <p>{{ $description }}</p>
            <a class="stretched-link" href="{{ $url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-neutral--cream"></span></a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>