{{ $sectionMargin := "py-6" }}
{{ $panelStyles := "bg-wvu-accent--blue-dark text-white rounded-2" }}
{{ $gridClasses := "col" }}
{{ $itemHeadingStyles := "iowan-old-style h1" }}

{{ if .layout.section.margin }}
  {{ $sectionMargin = .layout.section.margin }}
{{ end }}

{{ if and .styles .styles.panels }}
  {{ $panelStyles = .styles.panels }}
{{ end }}

{{ if and .styles .styles.item_headings }}
  {{ $itemHeadingStyles = .styles.item_headings }}
{{ end }}

<section class="{{ partial "bookshop_partial" (slice "section_margin" $sectionMargin) }} position-relative">
  <div class="container position-relative">
    {{ if .heading }}
      <div class="row text-center mb-5">
        <div class="col-xl-12 mx-xl-auto">
          <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-accent--blue-dark">{{ .heading }}</h2>
          {{ with .lead }}
            <p class="lead text-wvu-accent--blue-dark">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    {{ end }}
    
    <div class="row gx-4 text-center">
      {{ range .items }}
        {{ $sitePages := site.Data.site_pages }}
        
        {{ $pageTitle := "" }}
        {{ $description := "" }}
        {{ $url := "" }}

        <!-- Needs re-written, along with site-pages.json -->
        {{ if .site_page }}
          {{ $sitePage := .site_page }}
          {{ range $sitePages }}
            {{ range . }}
              {{ if eq $sitePage .id }}
                {{ $pageTitle = .title }}
                {{ $description = .description }}
                {{ $url = .path }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if .title }}
          {{ $pageTitle = .title }}
        {{ end }}
        {{ if .text }}
          {{ $description = .text }}
        {{ end }}
        {{ if .url }}
          {{ $url = .url }}
        {{ end }}

        <div class="{{ $gridClasses }}">
          <div class="position-relative px-5 py-6 h-100 {{ $panelStyles }}">
            <h3 class="{{ $itemHeadingStyles }}">{{ $pageTitle }}</h3>
            <p>{{ $description }}</p>
            <a class="stretched-link" href="{{ $url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-neutral--cream"></span></a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>