{{ $vibe := "wvu-ds-vibe-student-experience-01"}}
{{ $colorPalette := "wvu-ds-color-palette-01"}}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  <section class="section-component wvu-ds-student-profiles {{ $vibe }} {{ $colorPalette }} py-6">
    <div class="container wvu-z-index-content">
      <div class="wvu-ds-bg-primary text-white border border-2 border-dark wvu-shadow-hard-dark">
        <div class="row gx-4">
          <div class="col-12 ms-auto">
            <div class="p-5 w-100 h-100 position-relative">
              <div class="h-100 position-relative">
                <div class="w-100 h-100">
                  <div class="row h-100">
                    <div class="wvu-bg-img">
                      <div class="wvu-ds-pattern bg-wvu-accent--blue-light h-100 wvu-z-index-pattern">
                      </div>
                    </div>
                    <div class="col-xxl-17 mx-xxl-auto d-flex justify-content-center align-items-end wvu-z-index-content">
                      {{ if .image }}
                        {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" .image "width" 960 "height" 960 "classes" "object-fit-cover" "alt" .alt_text)) }}
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mx-auto">
            <div class="wvu-z-index-content position-relative px-5 py-6">
              {{ with .label }}
                <div class="wvu-container-box-skewed-3 wvu-ds-bg-secondary p-3 pb-2 me-n3 ms-n4 mb-3 mt-n5" style="transform: rotate(-2deg)">
                  <p class="oliviar-black h5 text-uppercase">
                    {{ range . }}
                      <span class="d-block">{{ . }}</span>
                    {{ end }}
                  </p>
                </div>
              {{ end }}
              <h3 class="h1 wvu-ds-heading-primary wvu-ds-accent">{{ .name }}</h3>
              {{ with .info }}
                <div class="fs-5 small">
                  {{ range . }}
                    <p class="mb-0">{{ . }}</p>
                  {{ end }}
                </div>
              {{ end }}
            </div>
            
            <!-- <div class="bg-wvu-accent--yellow h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
              <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
              <blockquote class="ms-0 border-0 border-wvu-gold">
                <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
                <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
              </blockquote>
            </div> -->
            
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}