<section id="page-collection-vertical-1" aria-labelledby="page-collection-vertical-1-label" class="py-6 text-center {{ .layout.pull }}">  
  <div class="container wvu-z-index-content">
    {{ if .Params.heading }}
      <h2 id="featurettes-1-label" class="display-3 wvu-shout text-wvu-blue">Page Collection Headline</h2>
      <p class="h3 helvetica-neue-light text-wvu-blue mb-6">Subhead goes here.</p>
    {{ end }}
    <div class="row justify-content-start">          
      <div class="mb-5 col-lg-16 mx-md-auto text-start">
        <div class="bg-white shadow">
          <div class="row">
            <div class="col-lg-12 wvu-col-page-collection-thumbnail">                  
              <div class="mb-2 position-relative">                    
                <a aria-hidden="true" tabindex="-1" title="Read More: Lorem Ipsum Dolor Sit Amet Consectetur" href="https://designsystem.wvu.edu/people/lorem-ipsum-dolor-sit-amet-consectetur">                      
                  <img class="card-img-top" src="https://placehold.co/960x640" alt="">
                </a>
              </div>              
            </div>
            <div class="col-lg-12">
              <h3 class="card-title" id="lorem-ipsum-dolor-sit-amet-consectetur-page-collection-vertical-1-139968">
                <a title="Read More: Lorem Ipsum Dolor Sit Amet Consectetur" class="h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue" href="https://designsystem.wvu.edu/people/lorem-ipsum-dolor-sit-amet-consectetur">Lorem Ipsum Dolor Sit Amet Consectetur</a>
              </h3>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                  
              <a class="btn btn-primary btn-sm" href="https://designsystem.wvu.edu/people/lorem-ipsum-dolor-sit-amet-consectetur">Read More
                <span class="visually-hidden">: Lorem Ipsum Dolor Sit Amet Consectetur</span>
              </a>              
            </div>
          </div>
        </div>
      </div>          
      <div class="mb-5 col-lg-16 mx-md-auto text-start">            
        <div class="row">
          <div class="col-lg-8 wvu-col-page-collection-thumbnail">                  
            <div class="mb-2 position-relative">                    
              <a aria-hidden="true" tabindex="-1" title="Read More: Adipiscing Elit Sed" href="https://designsystem.wvu.edu/people/adipiscing-elit-sed">                      
                <img class="card-img-top" src="https://placehold.co/960x640" alt="">
              </a>
            </div>              
          </div>
          <div class="col-lg-16">
            <h3 class="card-title" id="adipiscing-elit-sed-page-collection-vertical-1-139980">
              <a title="Read More: Adipiscing Elit Sed" class="h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue" href="https://designsystem.wvu.edu/people/adipiscing-elit-sed">Adipiscing Elit Sed</a>
            </h3>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                  
            <a class="btn btn-primary btn-sm" href="https://designsystem.wvu.edu/people/adipiscing-elit-sed">Read More
              <span class="visually-hidden">: Adipiscing Elit Sed</span>
            </a>              
          </div>
        </div>
      </div>      
    </div>        
    <div class="mt-4">          
      <p class="mb-0">Put additional info or 
        <a href="#">links</a> here.
      </p>
    </div>    
  </div>
</section>