{{ $image := "" }}
{{ $alt := "" }}
{{ $backgroundColor := "" }}
{{ $layerStyles := "" }}
{{ $headingColor := "" }}

{{ $vibe := "wvu_experience" }}
{{ $styles := slice }}

{{ if .topper.vibe }}
  {{ $vibe = .topper.vibe }}
{{ end }}

{{ if .topper.styles }}
  {{ $styles = .topper.styles }}
{{ end }}

{{ if .topper.background_c }}
  {{ $backgroundColor = .topper.background_c }}
{{ end }}

{{ if .topper.heading_c }}
  {{ $headingColor = .topper.heading_c }}
{{ end }}

{{ if not site.Params.env_bookshop_live }}
  {{ $vibes := site.Data.styles.components_topper_hero }}
  {{ with $vibe }}
    {{ with (index $vibes .) }}
      {{ $styles = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if .topper.background_image }}{{ $image = .topper.background_image }}{{ end }}
{{ if .topper.alt_text }}{{ $alt = .topper.alt_text }}{{ end }}

{{ if .config.id }}{{ $id = .config.id }}{{ end }}
{{ if .config.aria_labelledby }}{{ $ariaLabelledBy = .config.aria_labelledby }}{{ end }}
{{ if .topper.background_layers }}{{ $layerStyles = .topper.background_layers }}{{ end }}

<header class="text-center {{ $backgroundColor }} position-relative">  
  {{ partial "bookshop_partial" (slice "section_background" (dict "image" $image "alt" $alt "layerStyles" $layerStyles)) }}
  <div class="container wvu-z-index-content {{ $styles.container}}">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto">
        {{ if .topper.heading }}
          <h1 class="{{ $styles.superheading }} mb-6">{{ .title }}</h1>
          <h2 id="" class="{{ $styles.heading }} text-{{ $headingColor }} mb-4">{{ partial "bookshop_partial" (slice "heading" (dict "heading" .topper.heading)) }}</h2>
        {{ else }}
          <h1 id="" class="{{ $styles.heading }} text-{{ $headingColor }} mb-4">{{ .title }}</h1>
        {{ end }}
        <p class="{{ $styles.subheading }} mb-0">{{ .topper.subheading }}</p> 
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 mx-auto">
      <div class="row">
        <div class="col-md-24">
        </div>
      </div>
    </div>
  </div>
</header>