{{ $image := "" }}
{{ $alt := "" }}

{{ $vibe := "wvu_experience" }}
{{ $vibeData := site.Data.styles.components_topper_hero_vibe }}
{{ $colorData := site.Data.styles.components_topper_hero_color }}

{{ $layerStyles := "" }}
{{ $containerStyles := "" }}

{{ $typographySuperheading := "" }}
{{ $typographyHeading := "" }}
{{ $typographySubheading := "" }}

{{ $colorSection := "" }}
{{ $colorSuperHeading := "" }}
{{ $colorHeading := "" }}
{{ $colorHighlight := "" }}

{{ with .topper.vibe }}
  {{ with (index $vibeData .) }}
    {{ $typographySuperheading = .superheading }}
    {{ $typographyHeading = .heading }}
    {{ $typographySubheading = .subheading }}
  {{ end }}
{{ end }}

{{ with .topper.color_palette }}
  {{ with (index $colorData .) }}
    {{ $colorSection = .section }}
    {{ $colorSuperHeading = .superheading }}
    {{ $colorHeading = .heading }}
    {{ $colorHighlight = .highlight }}
  {{ end }}
{{ end }}

{{ if .topper.background_image }}{{ $image = .topper.background_image }}{{ end }}
{{ if .topper.alt_text }}{{ $alt = .topper.alt_text }}{{ end }}

{{ if .config.id }}{{ $id = .config.id }}{{ end }}
{{ if .config.aria_labelledby }}{{ $ariaLabelledBy = .config.aria_labelledby }}{{ end }}
{{ if .topper.background_layers }}{{ $layerStyles = .topper.background_layers }}{{ end }}
{{ if .topper.margin }}{{ $containerStyles = .topper.margin }}{{ end }}

<header class="text-center {{ $colorSection }} py-7 position-relative">  
  {{ partial "bookshop_partial" (slice "section_background" (dict "image" $image "alt" $alt "vibe" .topper.vibe "layerStyles" $layerStyles "enableBlend" .topper.enable_blend "enablePattern" .topper.enable_pattern)) }}
  <div class="container wvu-z-index-content {{ $containerStyles }}">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto">
        {{ if .topper.heading }}
          <h1 class="{{ $typographySuperheading }} h4">{{ .title }}</h1>
          <h2 id="" class="{{ $typographyHeading }} {{ $colorHeading }} mt-6">{{ partial "bookshop_partial" (slice "heading" (dict "heading" .topper.heading "colorHighlight" $colorHighlight)) }}</h2>
        {{ else }}
          <h1 id="" class="{{ $typographyHeading }}">{{ .title }}</h1>
        {{ end }}
        <p class="{{ $typographySubheading }} h3 mt-4">{{ .topper.subheading }}</p>
        <div class="mt-4">
          {{ .topper.body | markdownify }}
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 mx-auto">
      <div class="row">
        <div class="col-md-24">
        </div>
      </div>
    </div>
  </div>
</header>