{{ $src := .src }}
{{ $size := "960x640" }}
{{ $classes := "img-fluid" }}

{{ if .size }}
  {{ $size = .size }}
{{ end }}

{{ if .classes }}
  {{ $classes = .classes }}
{{ end }}

{{ if not site.Params.env_bookshop_live }}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
{{ end }}

<img class="{{ $classes }}" src="{{ $src }}" alt="{{ .alt }}">