{{ $src := .src }}
{{ $size := "960x640" }}

{{ if .size }}
  {{ $size = .size }}
{{ end }}

{{ if not site.Params.env_bookshop_live }}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}{{ $src = ($image.Resize (printf "%s webp"  $size)).RelPermalink }}{{ end }}
{{ end }}

<img class="img-fluid" src="{{ $src }}" alt="{{ .alt }}">