{{ $blendMode := "" }}
{{ $opacity := "" }}
{{ $pattern := "" }}
{{ $patternColor := "" }}
{{ $patternOpacity := "" }}
{{ $tintOpacity := "" }}
{{ $texture := false }}

{{ if .layerStyles }}
  Yes.
  {{ if .layerStyles.img }}
    {{ if .layerStyles.img.blend_mode }}
      {{ $blendMode = .layerStyles.img.blend_mode }}
    {{ end }}
    {{ if .layerStyles.img.opacity }}
      {{ $opacity = .layerStyles.img.opacity }}
    {{ end }}
  {{ end }}
  {{ if .layerStyles.pattern }}
    {{ if .layerStyles.pattern.option }}
      {{ $pattern = .layerStyles.pattern.option }}
    {{ end }}
    {{ if .layerStyles.pattern.c }}
      {{ $patternColor = .layerStyles.pattern.c }}
    {{ end }}
    {{ if .layerStyles.pattern.opacity }}
      {{ $patternOpacity = .layerStyles.pattern.opacity }}
    {{ end }}
  {{ end }}
  {{ if .layerStyles.tint }}
    Yes.
    {{ if .layerStyles.tint.opacity }}
      Yes.
      {{ $tintOpacity = .layerStyles.tint.opacity }}
    {{ else }}
      No.
    {{ end }}
  {{ end }}
  {{ if .layerStyles.texture }}
    {{ if eq .layerStyles.texture.enable true }}
      {{ $texture = true }}
    {{ end }}
  {{ end }}
{{ end }}

<div class="wvu-bg-img">
  {{ if .image }}
    <img class="object-fit-cover h-100 w-100 {{ $blendMode }}" src="{{ .image }}" style="opacity: 0.{{ $opacity }}" />
    {{ if eq $blendMode "" }}
      <div class="position-absolute wvu-bg-tint w-100 h-100" style="opacity: 0.{{ $tintOpacity }}"></div>
    {{ end }}
  {{ end }}
  {{ if and .layerStyles .layerStyles.pattern .layerStyles.pattern.option }}
    <div class="{{ $pattern }} {{ $patternColor }} h-100 w-100" style="opacity: 0.{{ $patternOpacity }}"></div>
  {{ end }}
  {{ if eq $texture true }}
    <div class="d-flex w-100 h-100 justify-content-between position-absolute">
      <img class="align-self-end" src="/textures/halftone-grunge-dark.svg" width="400px" />
      <img class="align-self-start" src="/textures/halftone-grunge-dark.svg" width="400px" style="transform: rotate(180deg);"/>
    </div>
  {{ end }}
</div>