{{ if .topper }}
  {{ if eq .topper.name "Article Hero" }}
    {{ partial "bookshop" (slice "topper/article-hero" .) }}
  {{ else if eq .topper.name "Hero" }}
    {{ partial "bookshop" (slice "topper/hero" .) }}
  {{ else if eq .topper.name "Hero - Big Search" }}
    {{ partial "bookshop" (slice "topper/hero-big-search" .) }}
  {{ else if eq .topper.name "Hero w/Icons" }}
    {{ partial "bookshop" (slice "topper/hero-w-icons" .) }}
  {{ else }}
    {{ partial "bookshop" (slice "topper/default" .) }}
  {{ end }}
{{ end }}