{{ if .topper }}
  {{ if eq .topper.topper_type "Article" }}
    {{ partial "bookshop" (slice "design-system/topper/article" .) }}  
  {{ else if eq .topper.topper_type "Article Hero" }}
    {{ partial "bookshop" (slice "design-system/topper/article-hero" .) }}
  {{ else if eq .topper.topper_type "Hero" }}
    {{ partial "bookshop" (slice "design-system/topper/hero" .) }}
  {{ else if eq .topper.topper_type "Hero - Big Search" }}
    {{ partial "bookshop" (slice "design-system/topper/hero-big-search" .) }}
  {{ else if eq .topper.topper_type "Hero w/Icons" }}
    {{ partial "bookshop" (slice "design-system/topper/hero-w-icons" .) }}
  {{ else }}
    {{ partial "bookshop" (slice "design-system/topper/default" .) }}
  {{ end }}
{{ end }}