{{ $sectionMargin := "py-6" }}

{{ if .layout.section.margin }}
  {{ $sectionMargin = .layout.section.margin }}
{{ end }}

{{ $panelStyles := "rounded-2" }}
{{ $itemHeadingStyles := "iowan-old-style h1" }}

{{ if and .styles .styles.panels }}
  {{ $panelStyles = .styles.panels }}
{{ end }}
{{ if and .styles .styles.item_headings }}
  {{ $itemHeadingStyles = .styles.item_headings }}
{{ end }}

<section class="{{ partial "bookshop_partial" (slice "section_margin" $sectionMargin) }} position-relative">
  <!-- 
  <div class="wvu-bg-img">
    <div class="position-absolute w-50 h-100 d-flex justify-content-start align-items-end" style="left: 50%">
      <div class="h-100 position-absolute" style="content: ''; transform: skew(340deg); left: 0; width: 200% !important; background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);"></div>
    </div>
  </div>
  -->
  <div class="container position-relative {{ .layout.margin_y }}">
    <div class="p-4 p-xl-5 p-xxl-6 bg-white">
      <div class="row">
        <div class="col-xl-10">
          <div class="">
            <h2 class="display-4 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-blue mb-5">{{ .heading }}</h2>
            {{ with .lead }}
              <p class="fs-2 lead text-wvu-accent--blue-dark">{{ . }}</p>
            {{ end }}
          </div>
        </div>
        <div class="col-xl-12 ms-xl-auto">
          
          {{ range .items }}
            <div class="position-relative bg-light mb-3">
              <div class="row gx-4">
                {{ $pageTitle := "" }}
                {{ if .title }}
                  {{ $pageTitle = .title }}
                {{ end }}
                <div class="col-20">
                  <div class=" p-4 p-xl-5 h-100 {{ $panelStyles }}">
                    <h3 class="{{ $itemHeadingStyles }}">{{ $pageTitle }}</h3>
                    {{ with .text }}
                      <p class="mb-0">{{ . }}</p>
                    {{ end }}
                  </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                  <a class="stretched-link" href="{{ .button.url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-gold"></span></a>
                </div>
              </div>
            </div>
          {{ end }}
          
        </div>
      </div>
    </div>
  </div>
</section>