{{ $panelStyles := "rounded-2" }}
{{ $itemHeadingStyles := "iowan-old-style h1" }}
{{ if and .styles .styles.panels }}
  {{ $panelStyles = .styles.panels }}
{{ end }}
{{ if and .styles .styles.item_headings }}
  {{ $itemHeadingStyles = .styles.item_headings }}
{{ end }}
<section class="pt-9 pb-6 position-relative">
  <!-- 
  <div class="wvu-bg-img">
    <div class="position-absolute w-50 h-100 d-flex justify-content-start align-items-end" style="left: 50%">
      <div class="h-100 position-absolute" style="content: ''; transform: skew(340deg); left: 0; width: 200% !important; background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);"></div>
    </div>
  </div>
  -->
  <div class="container position-relative {{ .layout.margin_y }}">
    <div class="row">
      <div class="col-xl-12">
        <div class="sticky-top">
          <h2 class="display-4 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-accent--blue-dark">{{ .heading }}</h2>
          {{ with .lead }}
            <p class="lead text-wvu-accent--blue-dark">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="col-xl-12">
        
        {{ range .items }}
          <div class="position-relative bg-light mb-3">
            <div class="row gx-4">
              {{ $pageTitle := "" }}
              {{ if .title }}
                {{ $pageTitle = .title }}
              {{ end }}
              <div class="col-20">
                <div class=" px-5 py-3 h-100 {{ $panelStyles }}">
                  <h3 class="{{ $itemHeadingStyles }}">{{ $pageTitle }}</h3>
                  {{ with .text }}
                    <p>{{ . }}</p>
                  {{ end }}
                </div>
              </div>
              <div class="col-4 d-flex align-items-center">
                <a class="stretched-link" href="{{ .button.url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-neutral--cream"></span></a>
              </div>
            </div>
          </div>
        {{ end }}
        
      </div>
    </div>
  </div>
</section>