<section class="py-10 my-n9 bg-wvu-neutral--warm-gray-light bg-opacity-25">
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 position-relative">
        <h2 class="wvu-shout h1 d-inline-block wvu-text-letter-spacing-lg">
          Quicklinks
        </h2>
      </div>
      <div class="col-xxl-16">
        <ul class="wvu-ul-chevrons wvu-column-count-lg-3">
          {{ range .links }}
            {{- $link := partial "func/getQuicklink" . -}}
            <li><a class="text-decoration-none text-dark" href="{{ $link.url }}">{{ $link.text }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>