<main class="py-6 wvu-backpage-main">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        Menu
      </div>
      <div class="col-xl-14">
        {{ range .main }}
          {{ partial "bookshop_bindings" `.Params.detail_blocks` }}
          {{ partial "bookshop_partial" (slice "column" .detail_blocks) }}
        {{ end }}
      </div>
      <div class="col-xl-5">
        {{ range .sidebar }}
          {{ partial "bookshop_bindings" `.Params.column_blocks` }}
          {{ partial "bookshop_partial" (slice "column" .column_blocks) }}
        {{ end }}
      </div>
    </div>
  </div>
</main>