<main class="py-6 wvu-backpage-main">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 order-0">
        Menu goes here.

        {{ range .Pages }}
          <li><a href=".RelPermalink">{{ . }}</a></li>
        {{ end }}
      </div>
      <div class="col-xl-10 mx-xl-auto order-2">
        {{ with .main }}
          {{ partial "bookshop_bindings" `.` }}
          {{ partial "bookshop_partial" (slice "page" .) }}
        {{ end }}
      </div>
      <div class="col-xl-5 order-1">
        Jump Links
        <ul>
          <li>Link 1</li>
        </ul>
      </div>
      <div class="col-xl-5 order-3">
        {{ with .sidebar }}
          {{ partial "bookshop_bindings" `.` }}
          {{ partial "bookshop_partial" (slice "page" .) }}
        {{ end }}
      </div>
    </div>
  </div>
</main>