{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section class="text-center py-7 bg-light">
    <div class="row">
      <div class="col-xxl-18 mx-xxl-auto">
        <h2 class="h1 helvetica-neue-light mb-5">{{ .heading }}</h2>
        {{ range .body }}
          <span>{{ . }}</span>
        {{ end }}
        {{ partial "bookshop" (slice "design-system/generic/button-group" (dict "buttons" .buttons)) }}
        {{ with .postscript }}
          <div class="mt-4">
            {{ . | markdownify }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}