<main id="big-search-1" aria-labelledby="big-search-1-label" class="py-8 text-center bg-wvu-gold text-wvu-blue position-relative">
  <div class="position-absolute mt-3 w-100 text-start" style="top: 0px;">
    <div class="container">
      Breadcrumbs
    </div>
  </div>
  <div class="container wvu-z-index-content mb-5">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto">
        <h1 id="big-search-1-label" class="display-3 oliviar-black text-uppercase mb-4">{{ .heading  }}</h1>
        <p class="helvetica-neue-light h2 mb-0">{{ .subheading }}</p> 
      </div>
    </div>   
  </div>
  <div class="row justify-content-center mx-0">
    <div class="col-md-12 mx-auto">
      <div class="row">
        <div class="col-md-24">
          {{ partial "bookshop_partial" (slice "icon_bar_outlines" .items) }}
        </div>
      </div>
    </div>
  </div>
</main>