{{ $sectionMargin := "py-6" }}
{{ $layerStyles := "" }}

{{ if .layout.section.margin }}
  {{ $sectionMargin = .layout.section.margin }}
{{ end }}

{{ $panelStyles := "rounded-2" }}
{{ $itemHeadingStyles := "oliviar-black h2 text-wvu-blue" }}

{{ if .config.id }}{{ $id = .config.id }}{{ end }}
{{ if .config.aria_labelledby }}{{ $ariaLabelledBy = .config.aria_labelledby }}{{ end }}
{{ if .styles.section.background_c }}{{ $backgroundColor = .styles.section.background_c }}{{ end }}
{{ if .styles.section.text_c }}{{ $textColor = .styles.section.text_c }}{{ end }}
{{ if .styles.background_layers }}{{ $layerStyles = .styles.background_layers }}{{ end }}
{{ if .styles.heading.c }}{{ $headingColor = .styles.heading.c }}{{ end }}

{{ if and .styles .styles.panels }}
  {{ $panelStyles = .styles.panels }}
{{ end }}
{{ if and .styles .styles.item_headings }}
  {{ $itemHeadingStyles = .styles.item_headings }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  <section class="{{ partial "bookshop_partial" (slice "section_margin" $sectionMargin) }} position-relative">
    {{ partial "bookshop_partial" (slice "section_background" (dict "layerStyles" $layerStyles)) }}
    <!-- 
    <div class="wvu-bg-img">
      <div class="position-absolute w-50 h-100 d-flex justify-content-start align-items-end" style="left: 50%">
        <div class="h-100 position-absolute" style="content: ''; transform: skew(340deg); left: 0; width: 200% !important; background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);"></div>
      </div>
    </div>
    -->
    <div class="container position-relative {{ .layout.margin_y }}">
      <div class="p-5 p-xxl-6 bg-white wvu-z-index-content">
        <div class="row">
          <div class="col-xl-10">
            <div class="">
              <h2 class="display-5 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg text-wvu-blue mb-5">{{ .heading }}</h2>
              {{ with .lead }}
                <p class="fs-2 lead text-wvu-accent--blue-dark">{{ . }}</p>
              {{ end }}
            </div>
          </div>
          <div class="col-xl-12 ms-xl-auto">
            
            {{ range .items }}
              <div class="position-relative bg-light mb-3">
                <div class="row gx-4">
                  {{ $pageTitle := "" }}
                  {{ if .title }}
                    {{ $pageTitle = .title }}
                  {{ end }}
                  <div class="col">
                    <div class=" p-4 p-xl-5 h-100 {{ $panelStyles }}">
                      <h3 class="{{ $itemHeadingStyles }}">{{ $pageTitle }}</h3>
                      {{ with .text }}
                        <p class="mb-0">{{ . }}</p>
                      {{ end }}
                    </div>
                  </div>
                  <div class="col-6 col-xl-5 d-flex align-items-center">
                    <a class="stretched-link" href="{{ .button.url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-gold"></span></a>
                  </div>
                </div>
              </div>
            {{ end }}
            
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}